<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <style>
        .container{
            border: solid black 2px;
            height: 175px;
            width: 200px;
            margin: 200px auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <h3>{{ session['count'] }} Times.</h3>
        <a href="/destroy_session">
            <button>RESET</button>
        </a>
    </div>
</body>
</html>